[Unit]
Description=tiny-matrix-bot

[Service]
User=matrixbot
Group=matrixbot
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/matrixbot/bots/tiny-matrix-bot
ExecStart=python3 /home/matrixbot/bots/tiny-matrix-bot/tiny-matrix-bot.py
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
